<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <todo-list></todo-list>
    </div>

    <script>
        Vue.component('todo-item',{
            props: ['label'],
            template: `
                <li>{{label}}</li>
            `,
        });
        Vue.component('todo-input',{
            data(){
                return {
                    text: '',
                };
            },
            methods:{
                submit(){
                    this.$emit('input',this.text);
                    this.text='';
                },
            },
            template: `
                <form @submit.prevent="submit">
                    <input type="text" v-model="text">
                    <button type="submit">submit</button>
                </form>
            `,
        });
        Vue.component('todo-list',{
            data(){
                return {
                    todos: ['a','b','c'],
                };
            },
            methods:{
                addTodo(text){
                    this.todos.push(text);
                },
            },
            template: `
                <div>
                    <todo-input @input="addTodo"></todo-input>
                    <ul>
                        <todo-item v-for="todo in todos" :label="todo"></todo-item>
                    </ul>
                </div>
            `,
        });

        new Vue({
            el: '#app',
        });
    </script>
</body>
</html>