<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
	<title>Document</title>
</head>

<body>
	<div id="app">
		<my-component message="hello" test="test"></my-component>
	</div>
	<script>
		Vue.component('my-component', {
			props: ['message', 'test'],
			template: '<h1>{{message}}{{test}}</h1>',
		});

		new Vue({
			el: '#app',
		});
    //組件命名在props裡面什麼case都可以,但在html模板不能使用camelCase
    //組件命名如果是在new Vue裡面的字串模板就可以使用camelCase
	</script>


	<!-- 動態綁定prop -->
	<div id="app2">
		<post :text="text"></post>
		<!-- : 是動態綁定 -->
	</div>
	<script>
		new Vue({
			el: '#app2',
			data: {
				text: 'hello',
			},
			components: {
				post: {
					props: ['text'],
					template: '<div>{{text}}</div>',
				},
			},
		});
	</script>


	<!-- 動態綁定prop -->
	<div id="app3">
		<post v-for="post in posts" :text="post.text" :author="post.author"></post>
		<post v-for="post in posts" v-bind="post"></post>
	</div>
	<script>
		new Vue({
			el: '#app3',
			data: {
				posts: [
					{ text: 'hello', author: 'John' },
					{ text: 'world', author: 'Jack' },
				],
			},
			components: {
				post: {
					props: ['text', 'author'],
					template: '<h3>{{author}} : {{text}}</h3>',
				},
			},
		});
	</script>


	<!-- 動態綁定prop -->
	<div id="app4">
		<count number="1"></count><!-- 如果不動態綁定會把number當成字串 -->
		<count :number="1"></count><!-- 動態綁定就會把number當做數字 -->
		<count :number="text"></count>
	</div>
	<script>
		new Vue({
			el: '#app4',
			data: {
				text: 'test',
			},
			components: {
				count: {
					props: ['number'],
					template: '<h2>{{number+1}}</h>',
				},
			},
		});
	</script>
</body>

</html>