<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <label>
            <input type="checkbox" :checked="a" @change="select('a')">
            <span>a</span>
        </label>
        <label>
            <input type="checkbox" :checked="b" @change="select('b')">
            <span>b</span>
        </label>
        <label>
            <input type="checkbox" :checked="c" @change="select('c')">
            <span>c</span>
        </label>
        <br>
        <span>{{selected}}</span>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                a: false,
                b: false,
                c: false,
                selected: [],
            },
            methods: {
                select(item) {
                    const idx = this.selected.indexOf(item);
                    if (idx == -1) {
                        this.selected.push(item);
                        this[item] = true;
                    } else {
                        this.selected.splice(idx, 1);
                        this[item] = false;
                    }
                }
            }
        });
    </script>

    
    <div id="app2">
        <label>
            <input type="checkbox" :checked="a" @change="select('a')">
            <span>a</span>
        </label>
        <label>
            <input type="checkbox" :checked="b" @change="select('b')">
            <span>b</span>
        </label>
        <label>
            <input type="checkbox" :checked="c" @change="select('c')">
            <span>c</span>
        </label>
        <br>
        <span>{{selected}}</span>
    </div>
    <script>
        new Vue({
            el: '#app2',
            data: {
                a: false,
                b: false,
                c: false,
            },
            computed: {
                selected() {
                    const result = []; 
                    if (this.a) result.push('a'); 
                    if (this.b) result.push('b'); 
                    if (this.c) result.push('c');
                    return result;
                }
            },
            methods: {
                select(item) {
                    this[item] = ! this[item];
                }
            }
        });
    </script>
    <div id="app3">
        <label>
            <input type="checkbox" v-model="a">
            <span>a</span>
        </label>
        <label>
            <input type="checkbox" v-model="b">
            <span>b</span>
        </label>
        <label>
            <input type="checkbox" v-model="c">
            <span>c</span>
        </label>
        <br>
        <span>{{selected}}</span>
    </div>
    <script>
        new Vue({
            el: '#app3',
            data: {
                a: false,
                b: false,
                c: false,
            },
            computed: {
                selected() {
                    return ['a','b','c'].filter(item => this[item]);
                }
            },
        });
    </script>
</body>

</html>