<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
            <input type="text" v-model="input">
            <button v-on:click="add">add</button>
        </div>
        <ul>
            <li
                v-for="(item,index) in items"
                v-on:click="remove(index)"
            >
                {{item}}
            </li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data:{
                input:'',
                items:[
                    'qqqqqq',
                    'wwwwww',
                    'eeeeeee',
                ],
            },
            methods:{
                add(){
                    this.items.push(this.input);
                    this.input='';
                },
                remove(index){
                    this.items.splice(index,1);
                }
            }
        });
    </script>
</body>
</html>