<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ol>
            <li v-for="item in todo" :class="item">{{item}}</li>
        </ol>
    </div>
    <script>
        new Vue({
            el: '#app',
            data:{
                todo:[
                    '學會js',
                    '學會vue',
                    '投履歷',
                    '年薪百萬',
                ],
            },
        });
    </script>



    <div id="app2">
        <select>
            <option v-for="(month,idx) in months" :value="idx+1">{{month}}</option>
            <!-- <option v-for="month in 12">{{month}}</option> -->
        </select>
    </div>
    <script>
        new Vue({
            el: '#app2',
            data:{
                months:['Jan','Feb','Mar','Apr','May','Jun']
            },
        });
    </script>
</body>
</html>