<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <style>
        #app2{
            text-align: center;
            font-size: 32px;
            color: #096;
        }
        #app3{
            text-align: center;
            font-size: 30px;
            color: #069;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <span v-if="see">now u see me</span>
        <span v-else>now u don't see me</span>
    </div>
    <script>
        new Vue({
            el: '#app',
            data:{
                see:true,
            },
        });
    </script>



    <div id="app2">
        <input type="checkbox" v-model="checked">
        <template v-if="checked">
            <h1>跳樓大拍賣</h1>
            <h2>跳樓大拍賣</h2>
            <h3>跳樓大拍賣</h3>
        </template>
    </div>
    <script>
        new Vue({
            el: '#app2',
            data:{
                checked: false,
            },
        })
    </script>



    <div id="app3">
        <input type="checkbox" v-model="checked">
        <h1 v-if="checked">跳樓大拍賣</h1>
        <h1 v-else>老闆不在家</h1>
    </div>
    <script>
        new Vue({
            el: '#app3',
            data: {
                checked: false,
            },
        })
    </script>
</body>
</html>